:root {
  --red: #EC1F27;
}

@font-face {
  font-family: "Alternate Gothic";
  src: url(/AltGothic.ttf);
}
* {
  font-family: "Alternate Gothic";
}

html,body {
  background: #FBD0D2;
  margin: 0;
  height: 100%;
  color: black;
  overflow-y: scroll;
}

body {
  container: body;
  height: 100%;
  #bg {
    width: 75cqi;
    max-height: 100cqi;
    position: fixed;
    bottom: 0;
    left: 0;
    background: transparent;
    overflow: visible;
    z-index: -10;
  }
}

h1,h2,h3,h4,h5,h6,p,a,span,body,main,section {
  margin: 0;
  padding: 0;
}
