---
  import "normalize.css"
  import "../styles/global.css"
	import { ViewTransitions } from 'astro:transitions';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>LASA YDSA</title>
		<ViewTransitions />
	</head>
	<body>
		<svg id="bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1231 1089" fill="none">
			<path d="M1156.94 -406.989C1198.69 -406.989 1228.21 80.4489 1230.09 170.973C1230.03 175.688 1229.39 180.371 1228.21 184.9C1223.61 201.896 1214.19 216.795 1201.35 227.387C1188.51 237.979 1172.94 243.699 1156.94 243.699C1140.94 243.699 1125.36 237.979 1112.52 227.387C1099.69 216.795 1090.27 201.896 1085.67 184.9C1084.11 180.231 1083.46 175.244 1083.79 170.277C1085.36 80.4488 1115.18 -406.989 1156.94 -406.989Z" fill="#EC1F27" fill-opacity="0.15"/>
			<path d="M-199.997 1047.66C-199.997 1001.36 239.547 982.208 323.06 983.253C327.436 983.355 331.774 984.176 335.933 985.69C351.145 991.258 364.33 1002.12 373.529 1016.66C382.728 1031.21 387.449 1048.65 386.99 1066.41C386.532 1084.17 380.918 1101.29 370.984 1115.22C361.05 1129.16 347.325 1139.17 331.851 1143.76C327.582 1145.19 323.119 1145.78 318.665 1145.5C236.721 1141.32 -201.253 1093.97 -199.997 1047.66Z" fill="#EC1F27" fill-opacity="0.15"/>
			<path d="M-82.8905 481.54C-65.6227 439.412 346.607 610.015 421.957 646.224C426.14 648.095 429.972 650.81 433.26 654.232C445.508 665.812 454.024 681.5 457.518 698.924C461.012 716.347 459.295 734.559 452.627 750.804C445.958 767.049 434.701 780.444 420.558 788.964C406.414 797.484 390.154 800.665 374.235 798.026C369.818 797.707 365.523 796.279 361.677 793.848C286.327 754.853 -100.158 523.669 -82.8905 481.54Z" fill="#EC1F27" fill-opacity="0.15"/>
			<path d="M214.43 10.8149C245.826 -21.2167 569.519 308.152 627.288 372.563C630.427 376.101 632.978 380.227 634.823 384.749C642.24 400.542 644.83 418.579 642.204 436.146C639.578 453.712 631.876 469.857 620.26 482.151C608.644 494.444 593.741 502.219 577.794 504.307C561.848 506.395 545.722 502.681 531.844 493.726C527.813 491.625 524.269 488.528 521.483 484.674C465.912 417.477 183.976 42.4983 214.43 10.8149Z" fill="#EC1F27" fill-opacity="0.15"/>
			<path d="M648.637 -296.619C687.568 -314.027 880.026 125.015 912.05 208.924C913.868 213.432 914.931 218.268 915.189 223.198C916.667 240.87 912.967 258.6 904.639 273.755C896.311 288.911 883.799 300.685 868.959 307.33C854.119 313.975 837.743 315.138 822.26 310.644C806.778 306.151 793.014 296.242 783.012 282.387C780.225 278.626 777.999 274.395 776.419 269.853C746.906 184.9 610.02 -279.21 648.637 -296.619Z" fill="#EC1F27" fill-opacity="0.15"/>
		</svg>
		<slot></slot>
	</body>
</html>